---
import TagPill from '~/components/ds/atoms/TagPill.astro';
import { getPermalink } from '~/utils/permalinks';

import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';

export interface Props {
  tags: Post['tags'];
  class?: string;
  title?: string | undefined;
  isCategory?: boolean;
}

const { tags, class: className = '', title = undefined, isCategory = false } = Astro.props;
const tagsEnabled = Boolean(APP_BLOG?.tag?.isEnabled);
---

{
  tags && Array.isArray(tags) && (
    <>
      {title !== undefined && (
        <span class="align-super font-normal underline underline-offset-4 decoration-2 dark:text-slate-400">
          {title}
        </span>
      )}
      <ul class:list={['flex flex-wrap gap-2', className]}>
        {tags.map((tag) => (
          <li>
            <TagPill
              title={tag.title}
              href={
                tagsEnabled ? getPermalink(tag.slug, isCategory ? 'category' : 'tag') : undefined
              }
              size="md"
            />
          </li>
        ))}
      </ul>
    </>
  )
}
