---
import Layout from '~/layouts/template/Layout.astro';
import Header from '~/components/template/widgets/Header.astro';
import Footer from '~/components/template/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="announcement" />
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main id="main-content">
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
